:root {
  --primary: rgb(36, 161, 78); /* declare_primary_color_variable */
  --bg: rgb(253, 214, 100); /* declare_background_color_variable */
  --teatransparent: rgba(198, 67, 27, 0.678);
  --teatail: rgb(198, 67, 27);
  --tea: rgb(144, 14, 6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", Calibri, monospace; /* call_the_special_font*/
  background-color: var(--bg);
  color: rgb(255, 255, 255);
  min-height: 2000px;
}

/* Navbar */

.navbar {
  display: flex; /* make_navigation_bar_responsive_layout */
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%; /* adjust_navigation_font_size */
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
  position: fixed; /* fix_navigation_position */
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* force_navigation_on_the_top */
}

.navbar .navbar-logo {
  padding-right: 1rem;
  font-size: 2.92rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0.5rem 1rem 0 1rem;
  font-size: 1.6rem;
}

.navbar .navbar-nav a:hover {
  color: var(--bg); /* call_navigation_font_color_animation */
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-top: 0.5rem;
  border-top: 0.1rem solid rgb(255, 255, 255); /* create_navigation_font_decoration_animation */
  transform: scaleX(0);
  transition: 0.1s ease-in;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1); /* call_navigation_font_animation */
}

.navbar .navbar-extra a {
  color: rgb(255, 255, 255);
  margin: 0 0.5rem;
  padding-left: 0.1rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg); /* call_navigation_logo_animation */
}

#edge-menu {
  display: none; /* manipulate_edge-menu */
}

/* Hero Section */

.hero {
  min-height: 100vh; /* make_background_full_cover */
  display: flex; /* make_section_position */
  align-items: center; /* make_section_position */
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    0deg,
    rgb(253, 214, 100, 1) 4%,
    rgb(253, 214, 100, 0) 30%
  );
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  text-shadow: 6px 6px 9px rgb(0, 0, 0);
  line-height: 1.5;
}

.hero .content span {
  color: var(--teatail);
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 6px 6px 9px rgb(0, 0, 0);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem 0 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 300;
  background-color: var(--teatransparent);
  border-radius: 0.8rem;
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
}

.hero .content a:hover {
  color: var(--bg); /* call_navigation_font_color_animation */
}

.hero .content a::after {
  content: "";
  display: block;
  padding-top: 0.5rem;
  border-top: 0.1rem solid rgb(255, 255, 255); /* create_navigation_font_decoration_animation */
  transform: scaleX(0);
  transition: 0.1s ease-in;
}

.hero .content a:hover::after {
  transform: scaleX(0.6); /* call_navigation_font_animation */
}

/* About_Section */

.about {
  padding: 12rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 35rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 65rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  color: rgb(42, 42, 42);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  color: rgb(2, 87, 57);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

/* Menu_Section */

.menu {
  padding: 12rem 7% 1.4rem;
}

.menu h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
}

.menu h2 span {
  color: var(--primary);
}

.menu-all {
  display: flex;
}

.menu-all {
  flex: 1 1 65rem;
  padding: 0 1rem;
}

.menu h3 {
  color: rgb(42, 42, 42);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.menu-all {
  margin-bottom: 0.8rem;
  color: rgb(42, 42, 42);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  justify-content: center;
}

.menu .row .menu-card {
  margin: 1.5rem;
  max-width: 30%;
  text-align: center;
  color: var(--tea);
}

.menu .row .menu-card img {
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

/* Media_Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  #edge-menu {
    display: inline; /* manipulate_edge-menu */
  }
  .navbar .navbar-nav {
    position: absolute; /* manipulate_edge-menu */
    top: 100%;
    right: -100%;
    background-color: transparent;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0; /* manipulate_edge-menu */
  }
  .navbar .navbar-nav a {
    background-color: var(--teatransparent); /* fix_edge-menu_animation */
    border-radius: 0.8rem;
    box-shadow: 1.3px 1.3px 3.9px var(--tea);
    display: block;
    margin: 1.5rem;
    padding-top: 0.5rem;
    font-size: 1.6rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0; /* fix_edge-menu_animation */
  }
  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.46); /* fix_edge-menu_animation */
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    margin-bottom: 1rem;
    height: 18rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
