:root {
  --primary: rgb(36, 161, 78); /* declare_primary_color_variable */
  --bg: rgb(253, 214, 100); /* declare_background_color_variable */
  --teatransparent: rgba(198, 67, 27, 0.678);
  --teatail: rgb(198, 67, 27);
  --tea: rgb(144, 14, 6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth; /* make_smooth_when_scrolling */
}

body {
  font-family: "Poppins", Calibri, monospace; /* call_the_special_font */
  background-color: var(--bg);
  color: rgb(255, 255, 255);
}

/* Navbar */

.navbar {
  display: flex; /* make_navigation_bar_responsive_layout */
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%; /* adjust_navigation_font_size */
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
  position: fixed; /* fix_navigation_position */
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* force_navigation_on_the_top */
}

.navbar .navbar-logo {
  padding-right: 1rem;
  font-size: 2.92rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0.5rem 1rem 0 1rem;
  font-size: 1.6rem;
}

.navbar .navbar-nav a:hover {
  color: var(--bg); /* call_navigation_font_color_animation */
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-top: 0.5rem;
  border-top: 0.1rem solid rgb(255, 255, 255); /* create_navigation_font_decoration_animation */
  transform: scaleX(0);
  transition: 0.1s ease-in;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1); /* call_navigation_font_animation */
}

.navbar .navbar-extra a {
  color: rgb(255, 255, 255);
  margin: 0 0.5rem;
  padding-left: 0.1rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg); /* call_navigation_logo_animation */
}

#edge-menu {
  display: none; /* manipulate_edge-menu */
}

/* Navbar_Search_Form */

.navbar .container {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 1.5rem;
  background-color: var(--teatransparent);
  border-radius: 0.8rem;
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
  height: 3.6rem;
  display: flex;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .container.active {
  transform: scaleY(1);
}

.navbar .container #search-form {
  padding: 0.5rem;
  font-size: 1.6rem;
}

.navbar .container input {
  margin-left: 0.5rem;
  width: 25rem;
  color: rgb(255, 255, 255);
  background-color: transparent; 
}

.navbar .container button {
  margin-right: 0.5rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

/* Shopping-Cart */

.shopping-cart {
  position: absolute;
  height: fit-content;
  width: 35rem;
  top: 100%;
  right: -100%;
  margin: 1.5rem;
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
  border-radius: 0.8rem;
  padding-top: 0.5rem;
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  position: relative;
  margin: 1rem;
  padding: 0 0 0.5rem 0.5rem ;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px dashed rgb(255, 255, 255);
}

.shopping-cart .cart-item img {
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  max-height: 11rem;
}

.shopping-cart .cart-item h3 {
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.shopping-cart .item-price {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--bg);
}

/* Hero_Section */

.hero {
  min-height: 100vh; /* make_background_full_cover */
  display: flex; /* make_section_position */
  align-items: center; /* make_section_position */
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    0deg,
    rgb(253, 214, 100, 1) 4%,
    rgb(253, 214, 100, 0) 30%
  );
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  text-shadow: 6px 6px 9px rgb(0, 0, 0);
  line-height: 1.5;
}

.hero .content span {
  color: var(--teatail);
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 6px 6px 9px rgb(0, 0, 0);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem 0 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 300;
  background-color: var(--teatransparent);
  border-radius: 0.8rem;
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
}

.hero .content .cta:hover {
  color: var(--bg); /* call_cta_font_color_animation */
}

.hero .content .cta::after {
  content: "";
  display: block;
  padding-top: 0.5rem;
  border-top: 0.1rem solid rgb(255, 255, 255); /* create_cta_font_decoration_animation */
  transform: scaleX(0);
  transition: 0.1s ease-in;
}

.hero .content a:hover::after {
  transform: scaleX(0.6); /* call_cta_font_animation */
}

/* About_Section */

.about {
  padding: 12rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 35rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 65rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  color: rgb(42, 42, 42);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  color: rgb(2, 87, 57);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
}

/* Menu_Section */

.menu, .products {
  padding: 12rem 7% 1.4rem;
}

.menu h2, .products h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
}

.menu h2 span, .products h2 span {
  color: var(--primary);
}

.menu-all, .products-all {
  display: flex;
  flex: 1 1 65rem;
  padding: 0 1rem;
  margin-bottom: 0.8rem;
  color: rgb(42, 42, 42);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.menu .row .menu-card {
  margin: 1.5rem;
  max-width: 30%;
  text-align: center;
  color: var(--tea);
}

.menu .row .menu-card img {
  width: 200px;
  max-width: 100%;
  border-radius: 50%;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}

.menu .row .menu-card-tittle {
  color: rgb(42, 42, 42);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.menu .row .menu-card-description {
  font-weight: 500;
  margin-bottom: 1rem;
}

.menu .row .menu-card-description span {
  color: var(--bg);
  background-color: rgb(152, 13, 136);
}

.menu .row .menu-card-price {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem 0 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 300;
  background-color: rgb(42, 42, 42);
  border-radius: 0.8rem;
  cursor: pointer;
}

.menu .row .menu-card-price:hover {
  color: var(--bg); /* call_price_font_color_animation */
}

.menu .row .menu-card-price::after {
  content: "";
  display: block;
  padding-top: 0.5rem;
  border-top: 0.1rem solid rgb(255, 255, 255); /* create_price_font_decoration_animation */
  transform: scaleX(0);
  transition: 0.1s ease-in;
}

.menu .row .menu-card-price:hover::after {
  transform: scaleX(1); /* call_price_font_animation */
}

/* Products_Section */

.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  padding: 2rem;
  text-align: center;
  background-color: rgb(42, 42, 42);
  border: 1px solid rgb(42, 42, 42);
  border-radius: 0.8rem;
}

.products .product-icon {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icon a {
  width: 3.8rem;
  height: 3.8rem;
  color: rgb(255, 255, 255);
  margin: 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icon a:hover {
  color: var(--primary);
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--primary);
}

.products .product-image {
  padding: 1rem;
}

.products .product-image img {
  border-radius: 00.8rem;
  max-height: 15.5rem;
}

.products .product-content h3 {
  font-size: 1.35rem;
}

.products .product-stars {
  padding: 0.8rem;
  font-size: 1.5rem;
  color: var(--bg);
}

.products .product-stars .star-full {
  fill: var(--bg);

}

.products .product-price {
  font-size: 1.1rem;
  font-weight: 500;
}

.products .product-price span {
  text-decoration: line-through;
  font-size: 0.9rem;
  font-weight: 300;
}

/* Contact_Section */

.contact {
  padding: 12rem 7% 1.4rem;
}

.contact h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
}

.contact h2 span {
  color: var(--primary);
}

.contact p {
  display: flex;
  flex: 1 1 65rem;
  padding: 0 1rem;
  margin-bottom: 0.8rem;
  color: rgb(42, 42, 42);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: var(--teatransparent);
  box-shadow: 1.3px 1.3px 3.9px var(--tea);
}

.contact .row .map {
  flex: 1 1 65rem;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 65rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  background-color: rgb(42, 42, 42);
  border-radius: 0.8rem;
}

.contact .row form .input-group input, .contact .row form .input-group textarea {
  width: 100%;
  padding: 0.5rem 2rem;
  color: rgb(255, 255, 255);
  font-family: "Poppins", Calibri, monospace;
  font-size: 1.2rem;
  background: none;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(42, 42, 42);
  border-radius: 0.8rem;
  cursor: pointer;
}

/* Footer_Section */

footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 7px 13px 13px rgba(255, 255, 255, 0.95);
  text-align: center;
  margin-top: 14rem;
  padding: 1rem 0;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  margin: 1rem;
  color: var(--primary);
}

footer .social a:hover {
  color: rgb(42, 42, 42);
}

footer .links a, footer .links p {
  display: inline;
  margin: 3rem 0.5rem;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
}

footer .credit a, footer .credit p {
  margin: 4rem 0.5rem 1rem 0.5rem;
  color: var(--primary);
  font-size: 0.7rem;
  font-weight: 300;
}

footer .credit a:hover {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
}

footer .gotofooter a {
  display: flex;
  position: fixed;
  margin: 2rem 3rem;
  right: 0;
  bottom: 0;
  z-index: 8888;
  color: rgb(255, 255, 255);
}

footer .gotofooter a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  color: var(--primary);
}

/* !WARNING Media_Queries */

/* ?QUESTION Check again is it responsive? */

/* TODO Laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* TODO Tablet */

@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  #edge-menu {
    display: inline; /* manipulate_edge-menu */
  }
  .navbar .navbar-nav {
    position: absolute; /* manipulate_edge-menu */
    top: 100%;
    right: -100%;
    background-color: transparent;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0; /* manipulate_edge-menu */
  }
  .navbar .navbar-nav a {
    background-color: var(--teatransparent); /* fix_edge-menu_animation */
    border-radius: 0.8rem;
    box-shadow: 1.3px 1.3px 3.9px var(--tea);
    display: block;
    margin: 1.5rem;
    padding-top: 0.5rem;
    font-size: 1.6rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0; /* fix_edge-menu_animation */
  }
  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.44); /* fix_edge-menu_animation */
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    margin-bottom: 1rem;
    height: 18rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0.5rem;
  }
}

/* TODO Mobile */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
